@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
$stencilFont: 'Allerta Stencil', sans-serif; 
body {
	overflow-x: hidden;
}

.default {
    border-color: transparent !important;
    background: transparent !important;
    transition: 0.2s ease-in; 
}
.colored { 
    background: rgba(0, 0, 0, 0.7)!important;
    border-bottom: 2px solid #ff0000 !important;
    transition: 0.3s ease-in; 
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff !important;
    font-family: $stencilFont;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px 15px;
    letter-spacing: 2px;
    transition: 0.3s ease;
}
.navbar-default .navbar-nav > li > a:hover{ 
    transition: 0.5s ease;
    color: #000 !important;
}
nav.navbar.navbar-default.navbar-fixed-top {
    width: 100% !important;
}
.fixedBG {
    overflow: hidden !important;
    height: 100vh;
}
.fullHeight {
	height: 100vh; 
	background-size: cover !important;
    overflow: hidden !important;
    background-attachment: fixed;
    animation: headBG infinite 20s ease; 
} 
.clear {
	clear: both;
}
div#bs-example-navbar-collapse-1, a.navbar-brand, .navbar-default .navbar-nav > li > a {
	background: transparent !important;

}
a.navbar-brand {
    height: 60px;
}
.logo {
	width: auto;
	height: 28px;
}
img.centered.bigIcon {
    position: fixed; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    margin: auto; 
    animation: bigIcon infinite 60s linear;

}
img.centered.Icon {
    position: fixed; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    margin: auto; 
    animation: Icon infinite 100s linear;
}


@keyframes bigIcon {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(-360deg); }
}
@keyframes Icon {
  from { transform: scale(0.6) rotate(0deg); }
  to { transform: scale(0.6) rotate(360deg); }
}

@keyframes headBG {
  10%, 90% {
    transform: translate3d(-1px, 4px, 2px) scale(1.02);
  }
  
  20%, 80% {
    transform: translate3d(2px, -4px, -1px) scale(1.02);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 2px, 4px) scale(1.02);
  }

  40%, 60% {
    transform: translate3d(4px, -1px, -1px) scale(1.02);
  }
}

/*MEDIA QUERY*/ 
@media(max-width: 767px){
    .bigIcon { width: 100%; }
    .Icon { width: 100%; } 
}

.relative {
    position: relative; 
}

.nopad-col {
    padding: 0;
}

.scrollToTop {
    padding: 4px 9px 0px;
    position: fixed;
    bottom: 10px;
    font-size: 25px;
    right: 10px;
    background: rgb(200, 196, 194);
    border-radius: 5px;
    border: 2px solid #b0b0b0;
    cursor: pointer;
    transition: 0.5s ease;
}
.scrollToTop:hover {
    background: transparent;
    transition: 0.3s ease;
}